<div class="login-popup">
  <div class="popup-content">
    <a
      href="#"
      onclick="return preventRedirection()"
      class="btn-close"
      aria-hidden="true"
      >×</a
    >
    <div
      class="modal-left"
      id="modal-bg-container"
      data-style="background-image: url(https://cdn.zoutons.com/images/common/login_bg.png);"
      style="
        background-image: url('https://cdn.zoutons.com/images/common/login_bg.png');
      "
    >
      <h3>Why Sign up?</h3>
      <ul>
        <li>Exclusive deals</li>
        <li>More Savings</li>
        <li>Over 50 Stores</li>
        <li>Over 100 Categories</li>
      </ul>
    </div>
    <div class="modal-right">
      <div class="signupTab">
        <div class="h2">
          <a
            class="loginBtn"
            style="color: #f6bb43"
            (click)="toggleForm('login')"
            >LOGIN</a
          >
        </div>
        <span class="seperator" style="color: #f6bb43">|</span>
        <div class="h2">
          <a
            class="signupBtn"
            style="color: #f6bb43"
            (click)="toggleForm('signup')"
            >SIGNUP</a
          >
        </div>
      </div>
      <div
        class="login-form"
        style="display: block"
        *ngIf="activeForm === 'login'"
      >
        <form
          method="post"
          id="loginForm"
          class="form-block center-block"
          [formGroup]="loginForm"
          (ngSubmit)="login()"
        >
          <div class="form-group">
            <input
              type="email"
              class="form-control"
              name="email"
              placeholder="Email"
              autocomplete="email"
              formControlName="email"
            />
            <span
              class="form-error"
              *ngIf="
                loginForm.get('email')?.invalid &&
                loginForm.get('email')?.touched
              "
              >Please enter a valid email</span
            >
          </div>
          <div class="form-group">
            <input
              type="password"
              class="form-control"
              name="password"
              placeholder="Password"
              autocomplete="current-password"
              formControlName="password"
            />
            <span
              class="form-error"
              *ngIf="
                loginForm.get('password')?.invalid &&
                loginForm.get('password')?.touched
              "
              >Please enter a valid password</span
            >
          </div>
          <div class="form-group">
            <label>
              <input type="checkbox" name="remember" /> Remember me
            </label>
            <span
              class="right"
              style="color: #a9a9b6; cursor: pointer"
              onclick="passwordResetHandler.showForm()"
              >Forgot Your Password?</span
            >
          </div>
          <div class="form-group form-loader">
            <input
              type="submit"
              class="btn btn-block btn-info btn-raised"
              name="submit"
              value="LOGIN"
              [disabled]="loginForm.invalid"
            />
            <span class="loader" style="display: none"></span>
          </div>
          <p class="message">{{ loginSuccessMessage }}</p>
          <p class="error-message">{{ loginErrorMessage }}</p>
        </form>
        <hr style="margin: 25px 0; border-color: #fff" />
        <a
          href="https://appprod.zoutons.com/login/google"
          class="btn btn-raised"
          style="color: #898a90; width: 100%; margin-bottom: 10px"
        >
          <svg width="20px" height="20px" style="vertical-align: bottom">
            <use xlink:href="#icon-google"></use>
          </svg>
          Login with Google
        </a>
        <br />
        <a
          href="https://appprod.zoutons.com/login/facebook"
          class="btn btn-raised"
          style="background: #3b5998; color: #fff; width: 100%"
        >
          <svg width="20px" height="20px" style="vertical-align: bottom">
            <use xlink:href="#icon-facebook-logo"></use>
          </svg>
          Login with Facebook
        </a>
      </div>
      <div class="signup-form" *ngIf="activeForm === 'signup'">
        <form
          method="post"
          action=""
          class="center-block"
          [formGroup]="registerForm"
          (ngSubmit)="signup()"
        >
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              name="name"
              placeholder="Full Name"
              formControlName="name"
            />
            <span
              class="form-error"
              *ngIf="
                registerForm.get('name')?.invalid &&
                registerForm.get('name')?.touched
              "
              >Please enter a valid name</span
            >
          </div>
          <div class="form-group">
            <input
              type="email"
              class="form-control"
              name="email"
              placeholder="Email"
              autocomplete="email"
              formControlName="email"
            />
            <span
              class="form-error"
              *ngIf="
                  (registerForm.get('email')?.invalid &&
                    registerForm.get('email')?.touched) ||
                  (registerForm.get('email')?.errors?.['required'] &&
                    registerForm.get('email')?.touched)
                "
              >Please enter a valid email</span
            >
          </div>
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              name="mobile"
              placeholder="Mobile Number"
              formControlName="mobile"
            />
            <span
              class="form-error"
              *ngIf="
                  (registerForm.get('mobile')?.invalid &&
                    registerForm.get('mobile')?.touched) ||
                  (registerForm.get('mobile')?.errors?.['required'] &&
                    registerForm.get('mobile')?.touched)
                "
              >Please enter a valid mobile number</span
            >
          </div>
          <div class="form-group">
            <input
              type="password"
              class="form-control"
              name="password"
              placeholder="Password"
              autocomplete="new-password"
              formControlName="password"
            />
            <span
              class="form-error"
              *ngIf="
                  (registerForm.get('password')?.invalid &&
                    registerForm.get('password')?.touched) ||
                  (registerForm.get('password')?.errors?.['required'] &&
                    registerForm.get('password')?.touched)
                "
              >Please enter a valid password</span
            >
          </div>
          <div class="form-group">
            <input
              type="password"
              class="form-control"
              name="password_confirmation"
              placeholder="Confirm Password"
              autocomplete="current-password"
              formControlName="password_confirmation"
            />
            <span
              class="form-error"
              *ngIf="
                  (registerForm.get('password_confirmation')?.invalid &&
                    registerForm.get('password_confirmation')?.touched) ||
                  (registerForm.get('password_confirmation')?.errors?.['required'] &&
                    registerForm.get('password_confirmation')?.touched)
                "
              >Please confirm your password</span
            >
          </div>
          <div class="form-group form-loader pointer">
            <input
              type="submit"
              class="btn btn-info btn-block btn-raised"
              name="submit"
              value="REGISTER"
              [disabled]="registerForm.invalid"
            />
            <span class="loader" style="display: none"></span>
          </div>
          <p class="message">{{ signupSuccessMessage }}</p>
          <p class="error-message">{{ signupErrorMessage }}</p>
        </form>
      </div>
    </div>
  </div>
</div>
